* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family:gilroy;
}
html,
body {
    height: 100%;
    width: 100%;
}

#page1,#page2,#page3{
    height: 100vh;
    width: 100%;
    background-color: lightblue;
    display: flex;
    align-items: center;
    justify-content: center;
    border-bottom: 3px solid #666;
}
#box{
    height: 250px;
    width: 250px;
    background-color: crimson;
    border-radius: 10px;
}