*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: gilroy;
}
html,body{
    height: 100%;
    width: 100%;
}

body{
    background-color: #111;
    padding: 20px;
}

#box1{
    height: 200px;
    width: 200px;
    background-color: crimson;
    border-radius: 10px;
    margin-bottom: 10px;
}
#box2{
    height: 200px;
    width: 200px;
    background-color: lightblue;
    border-radius: 10px;
    margin-bottom: 10px;
}
#box3{
    height: 200px;
    width: 200px;
    background-color: lightseagreen;
    border-radius: 10px;
    margin-bottom: 10px;
}