* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family:gilroy;
}
html,
body {
    height: 100%;
    width: 100%;
}
.swiper{
    height: 100%;
    width: 100%;
    padding: 30px;

    background-color: #f2f2f2;
}


.swiper-slide{
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 60px;
    margin-right: 10px;
    color: #fff;
    font-weight: 600;
    flex-shrink: 0;
    height: 100%;
    width: 100%;
    border-radius: 10px;
    background-color: lightseagreen;
}

h1{
    color: #fff;
    position: fixed;
    top: 20%;
    left: 80%;
    z-index: 99;
    cursor: pointer;
    background-color: crimson;
    border-radius: 5px;
    padding: 5px 10px;
    font-size: 20px;
}
h2{
    color: #fff;
    font-size: 20px;
    position: fixed;
    top: 80%;
    left: 10%;
    z-index: 99;
    cursor: pointer;
    background-color: crimson;
    border-radius: 5px;
    padding: 5px 10px;
}